[submodule "build"]
	path = build
	url = https://github.com/joradom/theme-build.git
[submodule "inc/panels-lite"]
	path = inc/panels-lite
	url = https://github.com/joradom/panels-lite.git
[submodule "inc/settings"]
	path = inc/settings
	url = https://github.com/joradom/settings.git
